@import "reset.css";

body {
    background-color: #dff9fb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding: 50px 0px;
}

.canvas {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(50,50,93,0.11);/* offset-x | offset-y | blur-radius | spread-radius | color */
    
}

.controls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls_btns {
    margin-bottom: 30px;
}

.controls_btns button {
    all:unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(50,50,93,0.11);/* offset-x | offset-y | blur-radius | spread-radius | color */
    border: 2px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}

.controls_btns button:active {
    transform: scale(0.9);
}

.controls .controls__colors {
    display: flex;
}

.controls__colors .controls__color {
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 5px 5px rgba(50,50,93,0.11);/* offset-x | offset-y | blur-radius | spread-radius | color */
    border-radius: 25px;
    cursor: pointer;
}

.controls .controls__range {
    margin-bottom: 30px;
}